/infra
docs
backend/node_modules/*
backend/.env
frontend/node_modules/*
backend/uploads/*
backend/test-cloudinary.js
backend/test-upload-cloudinary.js
backend/test-cloudinary,js
backend/test-upload-cloudinary.js
.vercel
.env*
